<h1>
	<%= @soup.name %> 
</h1>

<% if @soup.featured == true %>
	<p> delicious</p>
<% else %>
	<p>sucks</p>
<% end %>

<% if params[:admin]== "true" %>
<p> <%= link_to "Toggle_featured", toggle_featured_path(@soup) %> </p>
<% end %>